@model IEnumerable<WebApp.Areas.Profile.Models.WishList.WishListBookViewModel>
@{ ViewData["Title"] = "Желаемое: библиотечные книги"; }

<style>
    .main-container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .form-menu {
        border: 1px solid dimgray;
        padding: 14px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .item-container {
        padding: 10px;
        border: 1px solid dimgray;
        margin-top: 10px;
    }

        .item-container:hover {
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
        }

    .form-control:focus {
        border-color: dimgray;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0) inset, 0px 0px 8px rgba(0, 0, 0, 0);
    }
</style>

<div class="main-container">
    <div class="container form-menu">
        <h3>Желаемое: библиотечные книги</h3>
        <div>
            <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Profile" asp-controller="WishList" asp-action="StoreContentViewer">Магазинные книги</a>
        </div>
        <hr style="background-color: dimgray; height: 1px;" />
        <form asp-area="Profile" asp-action="LibraryContentViewer" asp-controller="WishList" method="get">
            <div class="form-group row">
                <div class="col-sm-4">
                    <input class="form-control" style="border-radius: 0px;" type="search" name="search" value="@ViewBag.SearchData" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-outline-dark" style="border-radius: 0px;" type="submit" value="Принять" />
                </div>
            </div>
        </form>
        @if (Model.Count() > 0)
        {
            <div>
                <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Profile" asp-controller="WishList" asp-action="GetAllBooks">Получить все</a>
            </div>
        }
    </div>

    <div>
        @if (Model.Count() == 0)
        {
            <div style="text-align: center; margin-top: 20px">
                <h4>Список желаемого пуст</h4>
                <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Catalog" asp-controller="Content" asp-action="AllBooks">Каталог</a>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="item-container">
                    <table>
                        <tr>
                            <td>
                                <div>
                                    <img class="img-thumbnail" style="border: 4px solid dimgray;" src="@Url.Content(item.ImagePath)" width="128" alt="Preview" />
                                </div>
                            </td>
                            <td style="vertical-align: top;">
                                <div style="margin-left: 10px">
                                    <h4>@item.PublicationName</h4>
                                    <p>
                                        <b>Библиотека:</b><span> @item.CompanyName</span><br />
                                        <b>В хранилище:</b><span> @item.Count</span><br />
                                        <b>В желаемом:</b><span> @item.CountInCart</span>
                                    </p>
                                    <p>
                                        @if (item.Count > 0)
                                        {
                                            <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Catalog" asp-controller="Content" asp-action="GetBook" asp-route-id="@item.CopyId">Получить</a>
                                        }
                                        else
                                        {
                                            <span style="color: red">нет в наличии</span>
                                        }
                                        <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Profile" asp-controller="WishList" asp-action="RemoveBookFromWishList" asp-route-id="@item.CartId" asp-route-type="library">Удалить</a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }
    </div>
</div>