@model IEnumerable<WebApp.Areas.Management.Models.CopiesEditor.CopyViewModel>
@{ await Html.RenderPartialAsync("ManagementNavigationPanel"); }
@{ ViewData["Title"] = "Доступные экземпляры"; }

<style>
    .main-container {
        margin-right: 180px;
    }

    .form-menu {
        border: 1px solid dimgray;
        padding-top: 14px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .form-control:focus {
        border-color: dimgray;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0) inset, 0px 0px 8px rgba(0, 0, 0, 0);
    }
</style>

<div class="main-container">
    <div class="container form-menu">
        <h3>Доступные экземпляры</h3>
        <div>
            <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Management" asp-controller="Exemplars" asp-action="AddingCopy">Добавить</a>
            <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Management" asp-controller="Exemplars" asp-action="WrittenOffCopies">Списанные экземпляры</a>
        </div>
        <hr style="background-color: dimgray; height: 1px;" />
        <form asp-area="Management" asp-action="AvailableCopies" asp-controller="CopiesEditor" method="get">
            <div class="form-group row">
                <div class="col-sm-4">
                    <input class="form-control" style="border-radius: 0px;" type="search" name="search" value="@ViewBag.SearchData" />
                </div>
                <div class="col-sm-1">
                    <input class="btn btn-outline-dark" style="border-radius: 0px;" type="submit" value="Принять" />
                </div>
            </div>
        </form>
    </div>

    <div style="margin-top: 20px;">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th>Инвентарный номер</th>
                    <th>Дата изменения</th>
                    <th>Издание</th>
                    <th>Издатель</th>
                    <th>
                        @if (ViewBag.CompanyType.Equals("library"))
                        {
                            <span>Дни</span>
                        }
                        else
                        {
                            <span>Цена</span>
                        }
                    </th>
                    <th>Количество</th>
                    <th>Операция</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CopyUniqueKey</td>
                        <td>@item.ModifiedDate</td>
                        <td>@item.PublicationName</td>
                        <td>@item.PublisherName</td>
                        <td>
                            @if (ViewBag.CompanyType.Equals("library"))
                            {
                                @item.Time
                            }
                            else
                            {
                                @item.Price
                            }
                        </td>
                        <td>@item.Count</td>
                        <td>
                            <div style="display: inline-block" class="btn-group-vertical btn-block">
                                <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Management" asp-controller="Exemplars" asp-action="CopyEditing" asp-route-id="@item.CopyId">Изменить</a><br />
                                <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Management" asp-controller="Exemplars" asp-action="RemovingCopy" asp-route-id="@item.CopyId">Удалить</a><br />
                                <a class="btn btn-outline-dark" style="border-radius: 0px;" asp-area="Management" asp-controller="Exemplars" asp-action="WriteOffCopy" asp-route-id="@item.CopyId">Списать</a>

                            </div>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
